{% extends 'base.html' %}

{% block content %}
    <div class="card text-white bg-primary mb-3">
        <h5 style="margin: 15px auto">
            {% if category == 0 %}
                Все категории
            {% else %}
                {{ category }}
            {% endif %}
        </h5>
    </div>
    {% for item in forums %}
        <div class="card text-center" style="margin: 15px auto">
            <div class="card-header" align="left">
                <a href="{{ item.get_absolute_url }}"><h5>{{ item.name }}</h5></a>
            </div>
            <div class="card-body" align="left">
                <div class="col-1-4" style="width: 20%">
                    {% if  item.logo %}
                        <img src="../../static{{ item.logo.url }}" width="100%" alt="Логотип">
                    {% else %}
                        <img src="../../static/media/forumlogos/nologo.png" width="100%" alt="Логотип">
                    {% endif %}
                </div>
                <div class="col-3-4"><p class="card-text" align="justify">{% autoescape off %}{{ item.commit }}{% endautoescape %}</p></div>

            </div>
            <div class="card-footer text-muted" align="left">
                Категория: <a href="{{ item.category.get_absolute_url }}">{{ item.category }}</a><br>
                Автор: <a href="{{ item.creator.get_absolute_url }}">{{ item.creator }}</a><br>
                {{ item.create_date }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block user %}
    {{ block.super }}
{% endblock %}