{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="card text-center" style="margin: 15px auto">
        <div class="card-footer text-muted" align="left">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row" style="width: 800px">
                        <div class="col-1-4" style="width: 160px">
                            <label for="{{ form.category.id_for_label }}">{{ form.category.label }}:</label></div>
                        <div class="col-1-4" style="width: 350px">{{ form.category }}</div>
                        <div class="col-1-4" style="width: 200px; margin-left: 10px"><a href="{% url 'add_category' %}" class="btn btn-primary">Добавить категорию</a></div>
                        <div style="color: red">
                            {{ form.category.errors }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" style="width: 800px">
                        <div class="col-1-4" style="width: 160px">
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:</label></div>
                        <div class="col-1-4" style="width: 350px">{{ form.name }}</div>
                        <div style="color: red">
                            {{ form.name.errors }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" style="width: 800px">
                        <div class="col-1-4" style="width: 160px">
                            <label for="{{ form.commit.id_for_label }}">{{ form.commit.label }}:</label></div>
                        <div class="col-1-4" style="width: 350px">{{ form.commit }}</div>
                        <div style="color: red">
                            {{ form.commit.errors }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" style="width: 800px">
                        <div class="col-1-4" style="width: 160px">
                            <label for="{{ form.logo.id_for_label }}">{{ form.logo.label }}:</label></div>
                        <div class="col-1-4" style="width: 350px">{{ form.logo }}</div>
                        <div style="color: red">
                            {{ form.logo.errors }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row" style="width: 800px">
                        <div class="col-1-4" style="width: 160px">
                            <label for="{{ form.is_pablished.id_for_label }}">{{ form.is_pablished.label }}:</label></div>
                        <div class="col-1-4" style="width: 350px">{{ form.is_pablished }}</div>
                        <div style="color: red">
                            {{ form.is_pablished.errors }}
                        </div>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Создать</button>
            </form>
        </div>
    </div>

    <div class="card text-center" style="margin: 0 auto">
        <div class="card-footer text-muted" align="right">

        </div>
    </div>
{% endblock %}

{% block user %}
    {{ block.super }}
{% endblock %}