{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="card text-center" style="margin: 15px auto">
        <div class="card-header" align="left">
            <h5>{{ forum.name }}</h5>
        </div>
        <div class="card-body" align="left">
            <div class="col-1-4" style="width: 20%">
                {% if  forum.logo %}
                    <img src="../../static{{ forum.logo.url }}" width="100%" alt="Логотип">
                {% else %}
                    <img src="../../static/media/forumlogos/nologo.png" width="100%" alt="Логотип">
                {% endif %}
            </div>
            <div class="col-3-4"><p class="card-text" align="justify">{{ forum.commit }}</p></div>

        </div>
        <div class="card-footer text-muted" align="left">
            <div class="col" style="width: 70%; float: left; margin-left: -15px">
                {{ forum.create_date }}
            </div>
            <div class="col" align="right" style="width: 35%; float: left; margin-right: -5%">
                {% if request.user.is_authenticated %}
                    <a href="{{ forum.get_absolute_url }}/add_message">Написать сообщение</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% for item in messages %}
        <div class="container">
            <div class="col-1-4" style="width: 15%; margin-left: 0px; margin-right: 5px" align="center">
                {% if item.id_user.photo %}
                    <img src="../../static{{ item.id_user.photo.url }}" alt="User photo" width="100%">
                {% else %}
                    <img src="../../static/media/userphotos/nophoto.png" alt="User photo" width="100%">
                {% endif %}
                <div align="center"> {{ item.id_user.username }}</div>
            </div>
            <div class="col-3-4" style="width: 83%;margin-right: -2%">
                <div class="card text-center">
                    <div class="card-body" align="left">
                        {{ item.text }}
                    </div>
                    <div class="card-footer text-muted" align="left" style="">
                        <div class="col" style="width: 70%; float: left; margin-left: -15px">
                            {{ item.create_date }}
                        </div>
                        <div class="col" align="right" style="width: 35%; float: left; margin-right: -5%">
                            {% if request.user == item.id_user %}
                                <a name="delete" href="#">Удалить</a> |
                            {% endif %}
                            <a href="#">Ответить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
    <div class="card text-center" style="margin: 0 auto">
        <div class="card-footer text-muted" align="right">
            {% if request.user.is_authenticated %}
                <a href="{{ forum.get_absolute_url }}/add_message">Написать сообщение</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block user %}
    {{ block.super }}
{% endblock %}