<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->


    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
{% include 'inc/_nav.html' %}
<div class="main">
    <br>
    <div class="container">
        <div class="row">
            {% block content %}

            {% endblock %}
            {% block user %}
                <div class="col-1-4" style="width: 24%">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputLogin">Loging</label>
                            <input type="login" class="form-control" id="exampleInputLogin"
                                   aria-describedby="loginHelp">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Запомнить меня</label>
                        </div>
                        <button type="submit" class="btn btn-primary">Войти</button>
                            <a href="{% url 'registration' %}" class="btn btn-primary">Регистрация</a>
                    </form>
                </div>
            {% endblock %}
        </div>
    </div>
</div>
<footer>
    <div class="container">
        © 2020 Бояревич Олег, по всем вопросам пишите по адресу BayarevichAleh@yandex.ru
    </div>
</footer>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>