<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->


    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>{% block title %}{{ title }}{% endblock %}</title>
</head>
<body>
{% include 'inc/_nav.html' %}
<div class="main">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-3-4">
                {% block content %}

                {% endblock %}
                {% block paginator %}
                    {% if page_obj.has_other_pages %}
                        <div style="margin: 0 auto">
                            <nav aria-label="...">
                                <ul class="pagination">
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="?page={{ page_obj.previous_page_number }}">Previous</a>
                                        </li>
                                    {% endif %}
                                    {% for p in pages %}
                                        {% if p == page_obj.number %}
                                            <li class="page-item active">
                                                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                                            </li>
                                        {% else %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    {% endif %}
                {% endblock %}
            </div>
            <div class="col-1-4" style="width: 24%; margin-top: 10px">
                {% block user %}
                    {% include 'inc/_login.html' %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        © 2020 Бояревич Олег, по всем вопросам пишите по адресу BayarevichAleh@yandex.ru
    </div>
</footer>

<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
