{% load staticfiles %}
{% if request.user.is_authenticated %}
    {% if request.user.photo %}
        <img src="{% static request.user.photo.url %}" alt="Photo" width="100%">
    {% else %}
        <img src="{% static 'media/userphotos/nophoto.png' %}" alt="Photo" width="100%">
    {% endif %}
    <h4 align="center">{{ request.user.username }}</h4>
    <a href="{{ request.user.get_absolute_url }}">Мой профиль</a><br>
    <a href="{% url 'myforums' %}">Мои форумы</a><br>
    <a href="#">Мои сообщения</a><br>
    <a href="#">Мои файлы</a><br>
    <a href="{% url 'add_forum' %}">Создать форум</a><br>
        <div style="float: right">
            <a href="{% url 'logout' %}?url={{ request.path }}" class="btn btn-primary">Выйти</a>
        </div>
{% else %}
    <form method="post" autocomplete="off">
        {% csrf_token %}
        <div class="row">
            <div class="col-1-4" style="width: 100%">
                <label for="{{ userform.username.id_for_label }}">{{ userform.username.label }}:</label></div>
            <div class="col-1-4" style="width: 100%">{{ userform.username }}</div>
            <div style="color: red">
                {{ userform.username.errors }}
            </div>
        </div>
        <div class="row">
            <div class="col-1-4" style="width: 100%">
                <label for="{{ userform.password.id_for_label }}">{{ userform.password.label }}:</label></div>
            <div class="col-1-4" style="width: 100%">{{ userform.password }}</div>
            <div style="color: red">
                {{ userform.password.errors }}
            </div>
        </div>
        <div style="color: red">
            {{ userform.non_field_errors }}
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Войти</button>
        <a href="{% url 'registration' %}" class="btn btn-primary">Регистрация</a>
    </form>
{% endif %}