<header>
    <div class="media" style="align-content: center">
        <div class="media-body" style="max-width: 1024px; display: block;
    margin-left: auto;
    margin-right: auto">
            <img src="/static/media/Untitled-1.jpg" width="100%" alt="Banner">
        </div>
    </div>
    <div class="container" style="padding: 0px">
        <div class="btn-group" role="group">
            <button onclick="window.location.href='{% url 'index' %}'" type="button" class="btn btn-primary">Главная
            </button>
            <button onclick="window.location.href='{% url 'categories' %}'" type="button" class="btn btn-primary">
                Категории
            </button>
            <button onclick="window.location.href='{% url 'category' 0 %}'" type="button" class="btn btn-primary">Форумы
            </button>
            <button onclick="window.location.href='{% url 'users' %}'" type="button" class="btn btn-primary">
                Пользователи
            </button>
        </div>
    </div>
</header>